
.Mastery{
  position: absolute;
  width: 100vw;
  background-color: #ddddff;
  height: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
}

.Mastery-champion{
  margin: auto;
}

.Mastery-amount{
  margin: auto;
}
