.NavBar{
  position: fixed;
  display: flex;
  z-index: 100;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  min-height: 8vh;
  background-color: #4444CC;
}

.NavButton{
  z-index: 10;

  background-color: inherit;
  border: 0;
  font-size: 3vh;
  flex: 1;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}
