.Profile-page{
    text-align: center;
}

.Profile-header{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #DDDDFF;
  color: gray;
  height: 100vh;
  font-size: 5vh;
  margin-top: 0;
}

.Profile-info{
  margin: auto;
}
