.Profile-page{
    text-align: center;
}

.Profile-header{
  z-index: -2;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  height: 45vh;
  font-size: calc(2.5vh + 1vw);
  margin-top: 0;
}

.Profile-info{
  z-index: 10;
  display: flex;
  flex-direction: row;
  padding-left: 5vh;
  padding-top: 5vh;
  padding-right: 5vh;
  margin-left: auto;
  margin-right: auto;
  min-height: 45vh;
  min-width: 80vw;
  margin-top: 20vh;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #CCCCFF;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;


}

.Profile-icon{
  z-index: 5;
  font-size: 0;
  border-radius: 10em;
  border-style: double;
  border-color: #339933;
  border-width: 0em;
  min-width: 7em;
  max-width: 7em;
  min-height: 7em;
  max-height: 7em;
}



#playerName{
  position: relative;
  top: -20%;
}

#playerLevel{
  font-size: 0.7em;
  position: relative;
  top: -9%;

}

.Profile-Rank{
  position: relative;
  top: 0%;
  left: 5%;
  display: flex;
  background-color: rgba(10, 10, 10, 0.7);
  margin-top: 2.2em;
  height: 5em;
  width: 7em;
}

#playerRank{
  line-height: .1;
}

#profile-rank{
  width: 5vw;
  height: 5vw;
  line-height: .1;
  padding: 0;
}

.Profile-background{
  background-color: #337;
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

.Matches{
  min-height: 100vh;
  height: 200vh;
  width: 76vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('');
  background-color: rgba(100, 100, 100, 0.7);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
